@model IEnumerable<BookStoreApp.Models.Book>
@{
    ViewData["Title"] = "GetAll";
}
<div class="container" style="width: 60%;">
    <h1>List Of Book</h1>
    <a href="/Book/Add">Add New</a>
    <table class="table table-striped">
        <thead>
            <tr>
            <th>Book</th>
            <th>Isbn</th>
            <th>Genre</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Action</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                 <td>@item.Isbn</td>
                  <td>@item.AuthorName</td>
                   <td>@item.GenreName</td>
                    <td>@item.PublisherName</td>
                <td>
                    <a href="/Book/Update/?Id=@item.Id" class="btn btn-dark"><i class="bi bi-upload"></i> Update</a>
                    <a href="/Book/Delete/?Id=@item.Id" class="btn btn-danger"><i class="bi bi-x-lg"></i> Delete</a>
                </td>
            </tr>
        }
        </thead>
    </table>
</div>